.wrapper {
  max-width: 1600px;
  width: 100%;
  /* height: 270px; */
}

/* header */
header {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 85px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}
header .logo img {
  width: 154px;
  height: 34px;
  margin-bottom: 0;
}
header .top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}
header .top .login,
header .top .sign-up,
header .top .language {
  padding: 0 10px;
}
header .top .language {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 13px;
}

/* nav */
nav {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  font-size: 18px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
nav ul li {
  flex: 1;
  text-align: center;
}
nav ul li a {
  display: block;
  line-height: 54px;
  position: relative;
}
nav ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20%;
  width: 0;
  height: 2px;
  background-color: #121212;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
nav ul li a:hover::after {
  width: 50%;
}

/* main */
main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 600px;
}

/* menu */
.menu-sec {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  color: #fff;
}
.menu-product {
  position: relative;
  max-width: 550px;
  width: 100%;
  height: 270px;
  vertical-align: middle;
}
.menu-product:nth-child(1) {
  margin-right: 50px;
}
.menu-product p {
  position: absolute;
  top: 80px;
  right: 90px;
  font-size: 36px;
  font-weight: var(--font-weight600);
}
.menu-product:nth-child(2) p {
  position: absolute;
  top: 80px;
  right: 60px;
  font-size: 36px;
}
.menu-product a {
  height: 35px;
  padding: 2px 20px;
  line-height: 28px;
  font-size: var(--font-size20);
  color: var(--white);
  position: absolute;
  top: 146px;
  right: 80px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.menu-product a:hover {
  color: var(--black);
  background-color: var(--white);
}

/* banner1 */
.banner-1 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 495px;
}

/* side */
.side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 100px;
}
.side h3 {
  font-size: var(--font-size24);
  padding: 0 65px;
  margin-top: 100px;
  margin-bottom: 34px;
}
.side-box {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
.side-box article {
  width: 240px;
}
.side-box article .img-area {
  width: 240px;
  height: 240px;
  overflow: hidden;
}
.side-box article .img-area img {
  width: 100%;
  transition: 0.5s;
}
.side-box article:hover .img-area img {
  transform: rotate(5deg) scale(1.2);
}
.side-box article .text-area h4 {
  font-size: var(--font-size16);
  font-weight: 500;
  padding: 4px 0;
}
.side-box article .text-area p {
  font-size: 15px;
}

/* banner2 */
.banner-2 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 495px;
}

/* content */
.content-wrap {
  max-width: 1920px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.content-txt {
  width: 680px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  border: 4px solid #ED3190;
}
.content-txt h3 {
  margin-bottom: 20px;
  font-size: var(--font-size24);
}
.content-txt p {
  font-size: var(--font-size14);
}
.content-img {
  width: 100%;
  height: 500px;
  margin: 0 0;
  padding: 0 0;
}
.content-img img{
  width: 100%;
  height: 500px;
  margin: 0 0;
  padding: 0 0;
}

/* footer */
footer {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 52px;
  border-top: 1px solid #ddd;
  margin-bottom: 80px;
}
.ft-logo {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.ft-logo img {
  width: 123px;
  height: 26px;
}
.ft-logo span {
  font-size: 30px;
  font-weight: 600;
  margin-left: 14px;
}
.ft-1 {
  max-width: 1200px;
  width: 100%;
  margin: 14px auto 24px;
}
.ft-1 ul {
  width: 1000px;
}
.ft-1 ul li {
  /* float: left; */
  display: inline-block;
}
.ft-1 ul li a {
  padding: 10px;
  font-size: 14px;
}
.ft-1 ul li:first-child a {
  padding: 10px 10px 10px 0;
}
.ft-info {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.75;
  color: #888;
}
.ft-3 p:first-child {
  margin-top: 12px;
}

.ft-item {
  width: 220px;
  position: absolute;
  top: 0;
  right: 18%;
  bottom: 0;
}
.download {
  position: absolute;
  top: 37%;
  right: 0%;
}
.SNS {
  position: absolute;
  bottom: 0;
  right: 0;
}
.SNS ul li,
.download ul li {
  float: left;
}
.download ul li:nth-child(2) a,
.download ul li:nth-child(3) a {
  padding: 0 4px 0 0;
}
.download ul li:first-child {
  font-size: 12px;
  padding-right: 8px;
}
.download ul li:nth-child(2) a img {
  width: 22px;
  height: 26px;
}
.download ul li a img {
  width: 28px;
  height: 23px;
}

.SNS ul li a {
  padding: 0 6px;
}
.SNS ul li a img {
  width: 21px;
  height: 21px;
}
.SNS ul li:first-child a img {
  width: 15px;
  height: 20px;
}
